*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#08111f;
color:white;

}

header{

height:100vh;

background:

linear-gradient(rgba(6,12,25,.9),rgba(6,12,25,.9)),

url("https://images.unsplash.com/photo-1518770660439-4636190af475?auto=format&fit=crop&w=1400&q=80");

background-size:cover;

background-position:center;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 80px;

}

.logo{

font-size:30px;

font-weight:bold;

color:#00e5ff;

letter-spacing:2px;

}

nav ul{

display:flex;

list-style:none;

}

nav ul li{

margin-left:35px;

}

nav ul li a{

text-decoration:none;

color:white;

font-weight:500;

transition:.4s;

}

nav ul li a:hover{

color:#00e5ff;

}

.hero{

display:flex;

justify-content:center;

align-items:center;

height:85vh;

text-align:center;

}

.hero h1{

font-size:65px;

margin-bottom:25px;

}

.hero p{

font-size:20px;

color:#cfd8dc;

width:750px;

margin:auto;

line-height:35px;

}

.buttons{

margin-top:40px;

}

.btn1{

padding:15px 35px;

background:#00e5ff;

color:black;

font-weight:bold;

text-decoration:none;

border-radius:50px;

margin-right:15px;

transition:.4s;

}

.btn1:hover{

box-shadow:0 0 25px cyan;

}

.btn2{

padding:15px 35px;

border:2px solid #00e5ff;

color:white;

text-decoration:none;

border-radius:50px;

transition:.4s;

}

.btn2:hover{

background:#00e5ff;

color:black;

}